
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="notif">Document</title>

</head>
<body>
    
                  
    <textarea id="chat-log" cols="100" rows="20">
     
{%for m in messages%}
{% if m.user == request.user %}
me at {{m.time_stamp.time}}
{{m.content}}
{% else %}
{{m.user.username}} at {{m.time_stamp.time}}
{{m.content}}
{% endif %}
{%endfor%}         
    </textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    
    {{ object.id|json_script:"room-id" }}

    <a href="{% url 'JoinerRoomDetail' object.id%}" >
      
        <button type="button" > {{object.title}} </button>
    </a>
    <a href="{% url 'RoomJoinersUpdateView' object.id%}" >
          
        <button type="button" > update/add members </button>
    </a>
    <a href="{% url 'RoomDeleteView' object.id%}" >
          
        <button type="button" > delete room </button>
    </a>
    <script>
        const roomId = JSON.parse(document.getElementById('room-id').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/room/'
            + roomId
            + '/'
        );
        var x = 1;
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            var dateOptions = {hour: 'numeric', minute: 'numeric', hour12: true};
            var datetime = new Date(data.datetime).toLocaleString('en', dateOptions);
            var isMe = data.user === '{{ request.user }}';
            var name = isMe ? 'Me' : data.user;

            document.querySelector('#chat-log').value += (name+' at '+ datetime+'\n'+data.message +'\n');
            document.getElementById("notif").innerHTML = '(+'+ x++ +' messa...)';
        };



        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
            }));
            messageInputDom.value = '';
        };
    </script>

</body>
</html>